# Ignore sensitive files anywhere in repo
# Both of these logs entries are necessary in conjunction with the whitelist...
# ....to ensure that /app/data/logs is kept but all other log files are ignored
**/logs/*
**/logs*
**/token.txt
**/seccure_key.txt
**/silo_config.json

# Ignore data files
*.csv
*.json
*.txt
*.tar*
*.zip

# Whitelist the default logs directory itself, but not subfiles
!app/data/logs

# Whitelist example configs directory (all files in there are examples)
!docs/example_configs/**

# Whitelist specific example files
!**/example_*

# Whitelist code and documentation
!*.py
!*.md
!*.bat
!requirements.txt
!.gitlab-ci.yml
!docker-compose.yml
!Dockerfile