# General categorical ignores
token*
silo_config.*
seccure*
*.txt
*.csv
*.json
logs*

# Specifically protect config directory secrets
config
logs

# Manually whitelist files we want.
!requirements.txt
!*.md
!example*
!*.bat
!*.py