# General categorical ignores
token*
silo_config.*
seccure*
*.txt
*.csv
*.json
logs
data/logs/*
data/*


# Manually whitelist files we want.
!requirements.txt
!data/logs/
!docs/
!*.md
!data/example*
!*.bat
!*.py